## Uncomment to disable annoying 404-pages
#ErrorDocument 404 /
#ErrorDocument 403 /

DirectoryIndex index.php index.html index.htm

## Uncomment to disable charset encoding for Russian Apache
#CharsetDisable On

## Uncomment to set UTF-8 encoding for all documents
# AddDefaultCharset charset=utf-8
# php_value default_charset 'utf-8'

Options -Indexes FollowSymLinks

<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>
