/* Common style for all themes */
acronym { cursor: help; border-bottom: 1px dashed #000; font-style: italic; color: #455; background: transparent; }
code { font: 100% 'courier new',courier,monospace; color:#C00; background: transparent; }
img { border: 0; }
label, select { cursor: pointer; }
tt { color: #808; background: transparent; font: 105% "courier new",courier,monospace; }
td.disabled { font: 80% "courier new",courier,monospace; color: #888; background: #F3F3F3; border: #777 1px solid; padding:1px }
ul.noindent { padding: 0; margin: 0 0 0 2em; }
ul.dictlist { list-style: square; color: #777; background: transparent; padding:0; margin-left:1.5em; }
ul.dictlist li { margin-top: 0.2em; font: 71% verdana,arial,helvetica,sans-serif; }
a.plain, a:visited.plain, a:hover.plain { text-decoration: underline; border: none; }
.blc { display: block; }
.strike { text-decoration: line-through; }
.defnblock { margin: 0; padding: 0 2em 1em 2em; width: auto; }
ol.defnblock { margin-left: 1.5em; }
/* Show the full text of definitions instead of preview */
.defnpreview .defnblock, .defnpreview .defnnote { font-size: 106%; }

.highlight { color: #000; background: #FE9; }
.imgLeft { float: left; }
.imgRight { float: right; }
.linkmark { font-family: sans-serif; color: #090; background: inherit; }
.stress { color: #C30; background: inherit; }
.underline { text-decoration: underline; }
.nobr { white-space: nowrap; }
.center { text-align: center; margin: 0 auto; }
.vmiddle, table.vmiddle tr td, tr.vmiddle td { vertical-align: middle; }
.vtop, table.vtop tr td, tr.vtop td { vertical-align: top; }
.xm { font: 80% verdana,arial,sans-serif }
/* Inline table. All HTML-tables must be enclosed with this class. */
.inlinetable { line-height: 100%; width: 100%; margin: 0; }
/* colors */
.white { color: #FFF; background: transparent; }
.black { color: #000; background: transparent; }
.gray { color: #777; background: transparent; }
.red { color: #E30; background: transparent; }
.green { color: #3B0; background: transparent; }
.blue { color: #33F; background: transparent; }
/* HTML-forms */
form { margin: 0; padding: 0;}
input.input {
	cursor: text;
	font: 95% consolas,"courier new",courier,monospace;
	width: 98%;
	color: #000; background: #FFF;
	border: #92cddc 1px solid;
	margin: 1px 0;
}
select.input { 
	font: 75% consolas,"courier new",courier,monospace; 
	width: 98%; 
	margin: 1px 0;
	border: #92cddc 1px solid; 
}
input.input, input.input0, select.input, select.input0, input.input50, select.input50, input.input75, select.input75 {
	font: 95% consolas,"courier new",courier,monospace;
	border: #92cddc 1px solid; 
	margin: 1px 0;
}
input.input50, select.input50 { width: 50%; }
input.input75, select.input75 { width: 75%; }

textarea.input {
	cursor: text;
	font: 95% consolas,"courier new",courier,monospace;
	width: 98%;
	color: #000; background: #FEFEFE;
	overflow: auto;
	border: #92cddc 1px solid;
}
table.gw2TableFieldset {
	border-spacing: 2px;
	border-collapse: separate;
}
table.gw2TableFieldset tr {
	vertical-align: top;
}
table.gw2TableFieldset table {
	font-size: 100%;
}
table.gw2TableFieldset td.td1, table.gw2TableFieldset td.td2 {
	padding: 2px;
	font: 80% "Segoe UI",arial,sans-serif;
}
table.gw2TableFieldset td.td1 {
	vertical-align: top;
	text-align: {v:css_align_right};
}
table.gw2TableFieldset td.td2, table.gw2TableFieldset td.disabled {
	vertical-align: top;
	text-align: {v:css_align_left};
}
table.gw2TableFieldset td.tdinput,
table.gw2TableFieldset td.td1 .input,
table.gw2TableFieldset td.td1 .input0,
table.gw2TableFieldset td.td1 .input50,
table.gw2TableFieldset td.td1 .input75,
table.gw2TableFieldset td.td2 .input,
table.gw2TableFieldset td.td2 .input0,
table.gw2TableFieldset td.td2 .input50,
table.gw2TableFieldset td.td2 .input75
{ font-size: 120%; }
.table-cells td { text-align: {v:css_align_left}; }

/* 1.8.7 */
fieldset.admform { margin:0 0 5px 0; padding: 3px; border: #CCC 1px solid; }
fieldset.admform .gw2TableFieldset td.td2 .input,
fieldset.admform .gw2TableFieldset td.td2 .input0,
fieldset.admform .gw2TableFieldset td.td2 .input50,
fieldset.admform .gw2TableFieldset td.td2 .input75,
fieldset.admform .gw2TableFieldset td.td1 .input,
fieldset.admform .gw2TableFieldset td.td1 .input0,
fieldset.admform .gw2TableFieldset td.td1 .input50,
fieldset.admform .gw2TableFieldset td.td1 .input75
{ font-size: 150%; }

fieldset.admform legend { text-align: {v:css_align_left}; }

/* */
.debugwindow { text-align:left; color:#000; background:#FFF; font-size:0.9em; margin:0 }
.note-afterpost {
	text-align: center;
	font: 100% "Segoe UI",sans-serif;
	border: #7B9CBC 1px solid;
	margin: 5px; padding: 5px; 
	color: #444; background:#FFE;
}

@media print { .non-print { display:none; } }