<div class="hr4"></div>

<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tbody>
<tr>
<td class="vtop" style="height:80px; background: {color_1}">
	<table cellspacing="5" cellpadding="0" border="0" width="100%">
	<tbody>
	<tr class="vtop xt">
	<td style="width:40%" class="vtop">{url:to_main}</td>
	<td class="gray vtop">Glossword {v:glossword_version} &#169; 2002-2008 Dmitry N. Shilnikov</a> 
	<br /><a href="http://wwwguru.net/glossword/demo/index.php?a=viewpage&amp;id=1">{l:web_m_fb}</a>
	| {v:runnnig_time}</td>
	</tr>
	</tbody>
	</table>
</td>
</tr>
</tbody>
</table>
{v:javascripts}
</div>