<table cellspacing="0" cellpadding="5" border="0" width="100%">
<tbody>
<tr class="gray">
<td style="background:{color_1}; text-align:right" class="xt">
{l:lang}:
<a href="{href:il_ru}">Русский</a>
|
<a href="{href:il_en}">English</a>
|
<a href="{href:il_es}">Español</a>
</td>
</tr>
</tbody>
</table>

<div class="hr4"></div>

<table cellspacing="0" cellpadding="2" border="0" width="100%">
<tbody>
<tr>
<td style="width:25%;background:{color_4};text-align:center"><img src="template/gw_splash.png" width="240" height="144" alt="" /></td>
<td style="width:75%;background:{color_2};text-align:{v:css_align_left}">
	<table cellspacing="10" cellpadding="0" border="0" width="100%">
	<tbody>
	<tr>	<td><span class="xu">{url:setup_new}</span> </td>	</tr>
	<tr>	<td><span class="xu">{url:setup_upgrade187}</span> </td>	</tr>
	<tr>	<td><span class="xt">&#160; &#160; &#160;{url:setup_upgrade186}</span> </td>	</tr>
	<tr>	<td><span class="xt">&#160; &#160; &#160;{url:setup_upgrade185}</span> </td>	</tr>
	<tr>	<td><span class="xt">&#160; &#160; &#160;{url:setup_upgrade184}</span> </td>	</tr>
	<tr>	<td><span class="xt">&#160; &#160; &#160;{url:setup_upgrade183}</span> </td>	</tr>
	<tr>	<td><span class="xt">&#160; &#160; &#160;{url:setup_upgrade182}</span> </td>	</tr>
	<tr>	<td><span class="xt">&#160; &#160; &#160;{url:setup_upgrade181}</span> </td>	</tr>
	<tr>	<td><span class="xu">{url:setup_uninstall}</span> </td>	</tr>
	</tbody>
	</table>
</td>
</tr>
</tbody>
</table>