body { color: #000; background: #FFF; }
.gray { color: #444; background: transparent; }

.gw-bedroom {
	text-align: left;
	margin: 0.5em auto;
	font-size: 100%;
	width: 180mm;
	border: none;
}
.gw-bedroom a { color: #00F; background: transparent; text-decoration: underline; }
.gw-bedroom a:visited { color: #00F; background: transparent; text-decoration: underline; }
.gw-bedroom a:hover { color: #00F; background: transparent; text-decoration: underline; }
.gw-bedroom a:active { color: #F00; background: transparent; text-decoration: underline; }


.abbr { color: #444; background: transparent; }
.gwsrc, .gwsyn, .gwsee, .gwaddress, .gwphone { color: #000; background: transparent; }
.gwusg { color: #444; background: transparent; }
.trns { color: #5A0; background: transparent; }
.trsp { color: #444; background: transparent; }

.stress { color: #C30; background: transparent; }

.red { color: #E30; background: transparent; }
.green { color: #3B0; background: transparent; }
