/* Alphabetic order */
.gw-az {
	overflow: hidden;
	padding: 1px;
	font-size: 125%;
	line-height: 125%;
	border-bottom: 1px solid #999;
}
/* Each alphabetic group */
.gw-az div { width: 100%; clear: both; overflow: hidden; }
.gw-az a, .gw-az a:visited {
	float: left;
	min-width: 1em;
	text-decoration: none;
	display: block;
	text-align: center;
	margin: 1px;
}

/* Block with terms and definitions */
.gw-items { float: right; width: 99%; }

